<div class="row">
    <div id="allTasks" class="collaborative-tasks tasks-stateForDisplay wide" style="height: 556px;">
        <style id="respColumnWidth">
            .column.details-tasks.off {
                transition: width 0.3s ease-in-out;
            }
            
            .column {
                width: 33.333333333333336%;
                min-width: 256px;
                max-width: 350px;
            }
            
            .columns-carrier {
                max-width: calc( 3 * 350px);
            }
            
            .collaborative-tasks-content .alert:not(.alert-fullwidth) {
                width: calc(33.333333333333336% - 4px)
            }
        </style>


        <div class="collaborative-tasks-content">
            <div class=" alert alert-root"></div>
            <div class="columns-carrier" style="left: 0%;">
                <div id="tasks-stateForDisplay-In Progress" class="column ds-dialog" style="order:20; -webkit-order:20; -ms-order:20;">
                    <div class="header">
                        <div class="title">
                            <span class="thumbnail profile-image"></span>
                            <label>To Do<span class="object-count">(1)</span></label>
                        </div>
                    </div>

                    <div class="body ui-droppable">

                        <div class="cards task-list  scroller scroller-root" unselectable="on" style="user-select: none; overflow: hidden;">
                            <div class="no-native-scrollbars  scroller-content" style="right: -19px; bottom: -19px;">
                                <div class="card drop-target-marker">
                                    <label>Drop Here</label>
                                </div>
                                <div class="top-buffer" style="height: 0px;"></div>

                                <div id="cardD8B901680000909C5E7BD32A0000320E" class="card real-card drop-target late">
                                        <div class="card-content" data-id="D8B901680000909C5E7BD32A0000320E" oncontextmenu="return false">
                                            <div class="card-title">902001</div>
                                            <div class="card-properties">
                                                <div class="card-details type">
                                                    <div class="thumbnail task-type">
                                                        <span class="fonticon fonticon-bpa fonticon-standalone-task"></span>
                                                    </div>
                                                </div>
                                                <div class="card-details">

                                                    <div class="card-date">
                                                        <span>3/25/2020</span>
                                                    </div>
                                                    <div class="thumbnail card-badge fixed">
                                                        <span class="fonticon fonticon-pin"></span>
                                                    </div>
                                                    <div class="thumbnail card-badge attachments">
                                                        <span class="fonticon fonticon-attach"></span>
                                                    </div>
                                                    <div class="thumbnail card-badge subscriptions">
                                                        <span class="fonticon fonticon-rss"></span>
                                                    </div>

                                                    <div class="thumbnail card-badge assignees">
                                                        <span class="fonticon fonticon-users"></span>
                                                    </div>
                                                    <div class="card-status">
                                                        <span class="Active">In Work</span>
                                                    </div>
                                                    <div class="card-stateForDisplay">
                                                        <span class="In Progress">In Progress</span>
                                                    </div>
                                                </div>

                                            </div>
                                    </div>
                                    <div class="card-menu">
                                        <button type="button" id="menucardD8B901680000909C5E7BD32A0000320Ecard" class="btn-link btn btn-root btn-without-label btn-with-icon" title=""><span class="fonticon fonticon-open-down"></span></button></div>
                                        <div class="busy-mask">
                                            <div class="spinner spinning fade in" style="-webkit-transform: translate3d(0px, 0px, 0px);">
                                                <span class="spinner-bar"></span>
                                                <span class="spinner-bar spinner-bar1"></span>
                                                <span class="spinner-bar spinner-bar2"></span>
                                                <span class="spinner-bar spinner-bar3"></span>
                                            </div>
                                        </div>
                                </div>
                                <div class="bottom-buffer" style="height: 0px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tasks-stateForDisplay-In Progress" class="column ds-dialog" style="order:20; -webkit-order:20; -ms-order:20;">
                    <div class="header">
                        <div class="title">
                            <span class="thumbnail profile-image"></span>
                            <label>In Progress<span class="object-count">(1)</span></label>
                        </div>
                    </div>

                    <div class="body ui-droppable">

                        <div class="cards task-list  scroller scroller-root" unselectable="on" style="user-select: none; overflow: hidden;">
                            <div class="no-native-scrollbars  scroller-content" style="right: -19px; bottom: -19px;">
                                <div class="card drop-target-marker">
                                    <label>Drop Here</label>
                                </div>
                                <div class="top-buffer" style="height: 0px;"></div>

                                <div id="cardD8B901680000909C5E7BD32A0000320E" class="card real-card drop-target late">
                                        <div class="card-content" data-id="D8B901680000909C5E7BD32A0000320E" oncontextmenu="return false">
                                            <div class="card-title">902001</div>
                                            <div class="card-properties">
                                                <div class="card-details type">
                                                    <div class="thumbnail task-type">
                                                        <span class="fonticon fonticon-bpa fonticon-standalone-task"></span>
                                                    </div>
                                                </div>
                                                <div class="card-details">

                                                    <div class="card-date">
                                                        <span>3/25/2020</span>
                                                    </div>
                                                    <div class="thumbnail card-badge fixed">
                                                        <span class="fonticon fonticon-pin"></span>
                                                    </div>
                                                    <div class="thumbnail card-badge attachments">
                                                        <span class="fonticon fonticon-attach"></span>
                                                    </div>
                                                    <div class="thumbnail card-badge subscriptions">
                                                        <span class="fonticon fonticon-rss"></span>
                                                    </div>

                                                    <div class="thumbnail card-badge assignees">
                                                        <span class="fonticon fonticon-users"></span>
                                                    </div>
                                                    <div class="card-status">
                                                        <span class="Active">Running</span>
                                                    </div>
                                                    <div class="card-stateForDisplay">
                                                        <span class="In Progress">In Progress</span>
                                                    </div>
                                                </div>

                                            </div>
                                    </div>
                                    <div class="card-menu">
                                        <button type="button" id="menucardD8B901680000909C5E7BD32A0000320Ecard" class="btn-link btn btn-root btn-without-label btn-with-icon" title=""><span class="fonticon fonticon-open-down"></span></button></div>
                                        <div class="busy-mask">
                                            <div class="spinner spinning fade in" style="-webkit-transform: translate3d(0px, 0px, 0px);">
                                                <span class="spinner-bar"></span>
                                                <span class="spinner-bar spinner-bar1"></span>
                                                <span class="spinner-bar spinner-bar2"></span>
                                                <span class="spinner-bar spinner-bar3"></span>
                                            </div>
                                        </div>
                                </div>
                                <div class="bottom-buffer" style="height: 0px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div id="tasks-stateForDisplay-Done" class="column ds-dialog" style="order:20; -webkit-order:20; -ms-order:20;">
                    <div class="header">
                        <div class="title">
                            <span class="thumbnail profile-image"></span>
                            <label>Done<span class="object-count">(1)</span></label>
                        </div>
                    </div>

                    <div class="body ui-droppable">

                        <div class="cards task-list  scroller scroller-root" unselectable="on" style="user-select: none; overflow: hidden;">
                            <div class="no-native-scrollbars  scroller-content" style="right: -19px; bottom: -19px;">
                                <div class="card drop-target-marker">
                                    <label>Drop Here</label>
                                </div>
                                <div class="top-buffer" style="height: 0px;"></div>

                                <div id="cardD8B901680000909C5E7BD32A0000320E" class="card real-card drop-target late">
                                        <div class="card-content" data-id="D8B901680000909C5E7BD32A0000320E" oncontextmenu="return false">
                                            <div class="card-title">902001</div>
                                            <div class="card-properties">
                                                <div class="card-details type">
                                                    <div class="thumbnail task-type">
                                                        <span class="fonticon fonticon-bpa fonticon-standalone-task"></span>
                                                    </div>
                                                </div>
                                                <div class="card-details">

                                                    <div class="card-date">
                                                        <span>3/25/2020</span>
                                                    </div>
                                                    <div class="thumbnail card-badge fixed">
                                                        <span class="fonticon fonticon-pin"></span>
                                                    </div>
                                                    <div class="thumbnail card-badge attachments">
                                                        <span class="fonticon fonticon-attach"></span>
                                                    </div>
                                                    <div class="thumbnail card-badge subscriptions">
                                                        <span class="fonticon fonticon-rss"></span>
                                                    </div>

                                                    <div class="thumbnail card-badge assignees">
                                                        <span class="fonticon fonticon-users"></span>
                                                    </div>
                                                    <div class="card-status">
                                                        <span class="Active">Completed</span>
                                                    </div>
                                                    <div class="card-stateForDisplay">
                                                        <span class="In Progress">In Progress</span>
                                                    </div>
                                                </div>

                                            </div>
                                    </div>
                                    <div class="card-menu">
                                        <button type="button" id="menucardD8B901680000909C5E7BD32A0000320Ecard" class="btn-link btn btn-root btn-without-label btn-with-icon" title=""><span class="fonticon fonticon-open-down"></span></button></div>
                                        <div class="busy-mask">
                                            <div class="spinner spinning fade in" style="-webkit-transform: translate3d(0px, 0px, 0px);">
                                                <span class="spinner-bar"></span>
                                                <span class="spinner-bar spinner-bar1"></span>
                                                <span class="spinner-bar spinner-bar2"></span>
                                                <span class="spinner-bar spinner-bar3"></span>
                                            </div>
                                        </div>
                                </div>
                                <div class="bottom-buffer" style="height: 0px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DetailsPanelView" class="column ds-dialog property-panel off"></div>
            </div>
            <button class="btn scroll-left tsk-scroll" style="display: none;"><span class="fonticon fonticon-left-open"></span></button>
            <button class="btn scroll-right tsk-scroll" style="display: none;"><span class="fonticon fonticon-right-open"></span></button>
            <div class="pagination">

                <ul>
                    <li class="in-view"></li>
                    <li class="in-view"></li>
                    <li class="in-view"></li>
                </ul>
            </div>
        </div>
    </div>

</div>