<div class="jumbotron text-center">
  <h3>Hello {{userName}}</h3>
    <p>Welcome to <span style='color:red;'>{{applicationName}}</span>. You are practicing <span style='color:green'>{{learningSubject}}</span>.
    </p>
</div>
  
<div class="container">
     <div class="row">
        <div class="col-md-8 person-div">
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Data List</h1>
            <!--div class="simple" style="height:50px; background-color:skyblue;">
                <div class="moveme">
                    <div style="position:absolute;">
                        MoveMe.
                    </div>
                </div>
            </div-->
            <table class="table">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td><button class="btn btn-warning">Edit</button></td>
                    <td><button class="btn btn-danger">Delete</button></td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                    <td><button class="btn btn-warning">Edit</button></td>
                    <td><button class="btn btn-danger">Delete</button></td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td><button class="btn btn-warning">Edit</button></td>
                    <td><button class="btn btn-danger">Delete</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>




